<div class="AboutBack animated fadeInUp"  role="dialog">
<!--     <img id="backHexa" src="Assets/Images/HexX4.svg"> -->
	<img id="backHexa"/>
    <div class="AboutLeft">
         <div id="AM">
          	<span class="AM">About</span>
          	<span class="AM2">Cesar Melendrez</span>
        </div>
          	<img class="CesarPhoto" src="Assets/Images/CesarMelendrezB.svg">
            <div class="ContactInfo">
    	    	<div class="Location">
	        		<img src="Assets/Images/Location.svg">
	       			<span>Toronto, Canada</span>
	    		</div>
	          	<div class="Phone">
	          	    <img src="Assets/Images/Phone.svg">
	          	    <span>+1 (647) 936-9103</span>
	          	</div>
	          	<div class="Mail">
	          	    <img src="Assets/Images/Email.svg">
	          	    <span>cesarmelendrez@gmail.com</span>
	          	</div>
	   	      	<div class="Mail">
	          	    <img src="Assets/Images/Linkedin.png">
	          	    <span>Linkedin &#10097; CesarMelendrez</span>
	          	</div>
          	</div>
    </div>

    <div class="AboutRight">
        <div class="Txt">
	       	<h2>I am a Graphic Designer and Web Developer from Mexico living in Canada.</h2>

	          <span> Looking to give a spin of 360° degrees to my carrier changing from a Graphic Designer to a full time Web Development taking my background skills in design and implementing them to my new skills to become a great Web Developer. </span>

	          <h3>My Past as Graphic Designer</h3>

	          <span>First job after graduating University was for a few moths for a new company named was EcoCarSpa wish i helped with the design and create the parameters of it "http://www.ecocarspa.com/".</span><br><br><br>

	          <span>1 year in the Marketing Department in a company named Farmacon back in my home city "http://www.farmacon.com.mx/".</span><br><br><br>

	          <span>Quitted my job and Moving to New Zealand por 1 year looking to learn the limits of my body and mind taking all the short terms jobs i could find such as "Wine-bottler", "Container Loader", "Demolition Sites", "Construction Sites", "Relocation Company", "Salt Factory", "Flour Factory", "Gardener" and a few other ones.</span><br><br><br>

	          <span>Move to Canada after my visa expired to take Brainstation Bootcamp to learn Web Development.</span>

	          <h2>My Future as Web Developer</h2>

	          <span>The best way to tell someone what you can do is by showing it, so take a look around and see it by yourself.</span>

	          <h2>Current situation</h2>

	          <h3>"Nomad Looking for retirement of moving around and find my own place to call home".</h3>
        </div>
    </div>

</div>
