<div id="PaddingTop">
<div id="Illustration" class="animated fadeInUp">
	<div id="wrapper">
		<div id="main">
			<article class="thum">
				<a class="image" href="Assets/Images/Illustration/LogoTraceAll.jpg"><img src="Assets/Images/Illustration/all.svg" class="red" alt="" /></a>
				<p>Animation Path</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/LogoTrace2.jpg" class="image"><img src="Assets/Images/Illustration/parte1.svg" alt="" /></a>
				<p>Animation Path</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/LogoTraceC2.jpg" class="image"><img src="Assets/Images/Illustration/parte2.svg" alt="" /></a>
				<p>Animation Path</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/LogoTraceC1.jpg" class="image"><img src="Assets/Images/Illustration/parte3.svg" alt="" /></a>
				<p>Animation Path</p>
			</article>

			<article class="thum">
				<a href="Assets/Images/Illustration/bull1.jpg" class="image"><img src="Assets/Images/Illustration/bull1.jpg" alt="" /></a>
				<p>Bull Terrier</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/skull.jpg" class="image"><img src="Assets/Images/Illustration/skull.jpg" alt="" /></a>
				<p>Octopus</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/bull2C.jpg" class="image image7"><img src="Assets/Images/Illustration/bull2.jpg" alt="" /></a>
				<p>Bull Terrier</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/rabbit.jpg" class="image"><img src="Assets/Images/Illustration/rabbit.jpg" alt="" /></a>
				<p>Rabbit</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/demon.jpg" class="image"><img src="Assets/Images/Illustration/demon.jpg" alt="" /></a>
				<p>Demon</p>
			</article>
<!-- 			<article class="thum">
				<a href="Assets/Images/Illustration/10.jpg" class="image"><img src="Assets/Images/Illustration/10.jpg" alt="" /></a>
				<p>Cesar Melendrez</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/11.jpg" class="image"><img src="Assets/Images/Illustration/11.jpg" alt="" /></a>
				<p>Cesar Melendrez</p>
			</article>
			<article class="thum">
				<a href="Assets/Images/Illustration/12.jpg" class="image"><img src="Assets/Images/Illustration/12.jpg" alt="" /></a>
				<p>Cesar Melendrez</p>
			</article> -->
		</div>
	</div>
</div>
</div>