<div id="PaddingTop"> 
<div id="Photos" class="animated fadeInUp">
	<div id="wrapper">
		<div id="main">
			<article class="thumb Pulse">
				<a class="image" href="Assets/Images/Photos/Angelus.jpg"><img src="Assets/Images/Photos/AngelusSmall.jpg" alt="" /></a>
				<p class="Place">Nelson Lakes, New Zealand</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Sheep.jpg" class="image"><img src="Assets/Images/Photos/SheepSmall.jpg" alt="" /></a>
				<p>Lake Tekapo, New Zealand</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Leoni.jpg" class="image"><img src="Assets/Images/Photos/LeoniSmall.jpg" alt="" /></a>
				<p>Wanaka, New Zealand</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Monkey.jpg" class="image"><img src="Assets/Images/Photos/MonkeySmall.jpg" alt="" /></a>
				<p>Bali, Indonesia</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/NelsonLake.jpg" class="image"><img src="Assets/Images/Photos/NelsonLakeSmall.jpg" alt="" /></a>
				<p>Nelson Lakes, New Zealand</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Photogra.jpg" class="image"><img src="Assets/Images/Photos/PhotograSmall.jpg" alt="" /></a>
				<p>Nelson, New Zealand</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Tokyo.jpg" class="image"><img src="Assets/Images/Photos/TokyoSmall.jpg" alt="" /></a>
				<p>Tokyo, Japan</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Wanaka2.jpg" class="image"><img src="Assets/Images/Photos/Wanaka2Small.jpg" alt="" /></a>
				<p>Wanaka, New Zealand</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Deer.jpg" class="image"><img src="Assets/Images/Photos/DeerSmall.jpg" alt="" /></a>
				<p>Nara, Japan</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Piramides.jpg" class="image"><img src="Assets/Images/Photos/PiramidesSmall.jpg" alt="" /></a>
				<p>Teotihuacan, Mexico</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Singapore.jpg" class="image"><img src="Assets/Images/Photos/SingaporeSmall.jpg" alt="" /></a>
				<p>Singapore</p>
				<p></p>
			</article>
			<article class="thumb">
				<a href="Assets/Images/Photos/Singapore2.jpg" class="image"><img src="Assets/Images/Photos/Singapore2Small.jpg" alt="" /></a>
				<p>Singapore</p>
				<p></p>
			</article>
		</div>
	</div>
</div>
</div>