<!-- <div id="PaddingTop"> -->
<div id="Skills" class="fadeInUp">
	<div id="wrapper" class="WrapperSkills">
		<div id="main" class="main animated">
			<div class="Title">
				<h2 class="Title1">Graphic Designer</h2>
			</div>
			<div class="Soft">
			<div class="Frame animated fadeInDown">
				<h1 class="animated flipInX">Ai</h1>
				<span class="animated fadeIn">Illustrator</span>
			</div></div>
			<div class="Soft1">
			<div class="Frame An animated fadeInDown">
				<h1 class="animated flipInX">An</h1>
				<span  class="animated fadeIn">Animate</span>
			</div></div>
			<div class="Soft2">
			<div class="Frame Ps animated fadeInDown">
				<h1 class="animated flipInX">Ps</h1>
				<span  class="animated fadeIn">Photoshop</span>
			</div></div>
			<div class="Soft3">
			<div class="Frame Lr animated fadeInDown">
				<h1 class="animated flipInX">Lr</h1>
				<span class="animated fadeIn">LightRoom</span>
			</div></div>
			<div class="Soft4">
			<div class="Frame Id animated fadeInDown">
				<h1 class="animated flipInX">Id</h1>
				<span class="animated fadeIn">InDesign</span>
			</div></div>
			<div class="Soft5">
			<div class="Frame Ae animated fadeInDown">
				<h1 class="animated flipInX">Ae</h1>
				<span class="animated fadeIn">After Effects</span>
			</div></div>
			<div class="Soft6">
			<div class="Frame Pr animated fadeInDown">
				<h1 class="animated flipInX">Pr</h1>
				<span class="animated fadeIn">Premiere Pro</span>
			</div></div>
			<div class="Soft7">
			<div class="Frame Xd animated fadeInDown">
				<h1 class="animated flipInX">Xd</h1>
				<span class="animated fadeIn">Experience Design</span>
			</div></div>
			<div class="Soft8">
				<img class="animated fadeInDown" src="Assets/Images/Skills/3D.svg">
				<span class="animated fadeIn">3D Max</span>
			</div>
			<div class="Soft9">
				<img class="animated fadeInDown" src="Assets/Images/Skills/Corel.svg">
				<span class="animated fadeIn">CorelDraw</span>
			</div>
<!-- 			<div class="Soft9">
				<img class="animated fadeInDown" src="Assets/Images/Softwares/sketch.png">
				<span class="animated fadeIn">Sketchapp</span>
			</div> -->

			<div class="Title TitleWeb">
				<h2 class="Title2 animated fadeInDown">Web Developer</h2>
			</div>
			<div class="WebC WebContainer Frame Su animated fadeInDown">
				<span class="S animated flipInX">S</span>
				<span class="animated fadeIn SS">Sublime Text</span>
			</div>
			<div class="WebC0 WebContainer">
				<img class="animated fadeInDown H" src="Assets/Images/Skills/html.svg">
				<img class="Level2 animated flipInX" src="Assets/Images/Skills/html1.svg">
				<span class="animated fadeIn">HTML</span>
			</div>
			<div class="WebC1 WebContainer">
				<img class="animated fadeInDown Css1" src="Assets/Images/Skills/css.svg">
				<img class="Level2 animated flipInX" src="Assets/Images/Skills/css1.svg">
				<span class="animated fadeIn">CSS</span>
			</div>
			<div class="WebC2 WebContainer">
				<img class="animated fadeInDown Js1" src="Assets/Images/Skills/js.svg">
				<img class="Level2 animated flipInX" src="Assets/Images/Skills/js1.svg">
				<span class="animated fadeIn">Javascript</span>
			</div>
			<div class="WebC3 WebContainer Frame B animated fadeInDown">
			<span class="BB animated flipInX">B</span>
				<span class="animated fadeIn BBB">Bootstrap</span>
			</div>
			<div class="WebC4 WebContainer">
				<img class="Sass animated fadeInDown" src="Assets/Images/Skills/Sass2.svg">
				<span class="animated fadeIn">Sass</span>
			</div>
			<div class="WebC5 WebContainer">
				<span id="AnimateCss" class="animated FID ANC">Animate<br>Css</span>
				<span class="animated fadeIn">Animate.css</span>
			</div>
			<div class="WebC6 WebContainer">
				<img class="animated fadeInDown Ang" src="Assets/Images/Skills/angular1.svg">
				<img id="Angular" class="Level2 animated flipInX" src="Assets/Images/Skills/angular.svg">
				<span class="animated fadeIn">Angular Js</span>
			</div>
			<div class="WebC7 WebContainer">
				<img class="Jq animated fadeInDown" src="Assets/Images/Skills/jQuery.svg">
				<span class="animated fadeIn ExtraPadding">jQuery</span>
			</div>
			<div class="WebC8 WebContainer ">
				<img class="Nde animated fadeInDown" src="Assets/Images/Skills/N1.svg">
				<img class="Level2 Hex animated flipInX" src="Assets/Images/Skills/N2.svg">
				<img class="Level3 JS animated fadeInUp" src="Assets/Images/Skills/N3.svg">
				<span class="animated fadeIn ExtraPadding">Node Js</span>
			</div>
			<div class="WebC9 WebContainer">
				<img class="NpmRed NR animated fadeInDown" src="Assets/Images/Skills/Npm-red.svg">
				<img class="Level2 Npm animated flipInX" src="Assets/Images/Skills/Npm-letters.svg">
				<span class="animated fadeIn ExtraPadding">Npm</span>
			</div>
			<div class="WebC10 WebContainer">
				<img class="animated fadeInDown" src="Assets/Images/Skills/Gitwhite.svg">
				<span class="animated fadeIn ExtraPadding">Git Hub</span>
			</div>
<!-- 			<div class="ExPadding"></div> -->
		</div>
	</div>
</div>
<!-- </div> -->